/* Shared styles*/ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    cursor: pointer;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px;
    font-weight: 600;
    border: none;
    font-size: 20px;
}


/* Header related style */
header{
    padding: 50px 220px;   
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 40px;
}
nav li, nav a{
    list-style: none;
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
.h{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.banner{
    text-align: center;
}
.banner-tittle{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner > img{
    width: 100%;
    margin-top: 50px;
}
main{
    max-width: 1500px;
    margin: 80px auto;
}
.featured-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.featured{
    display: flex;
    align-items: center;
    gap: 70px;
}
.featured h3{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    display: inline;
}
#of, #feat{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
#feat{
    color: #FF900E;
}
.featured p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.more-featured{
    display: flex;
    gap: 140px;
    align-items: center;
    padding: 0px;
    justify-content: center;
    margin-top: 100px;
}
.featured-info > h3{
    border-left: 5px solid #FF900E;;
    padding-left: 20px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.more-featured p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.featured-box{
    padding: 25px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.featured-box h4{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.featured-btn>button{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    padding: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    top: -100px;
    right: 100px;
}
.featured-btn span{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    display: block;
}
.some-fact{
    padding: 0px;
}
.some-fact > .h{
    display: inline;
}



/* Media Queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .featured, 
    .more-featured{
        flex-direction: column;
    }
    nav>ul{
        gap: 20px;
    }
    .featured-img{
        grid-template-columns: 1fr;
    }
    .featured{
        text-align: center;
    }
    .featured-btn img{
        width: 100%;
    }
    .featured-btn>button{
        padding: 10px;
        position: static;

    }
    .more-featured{
        gap: 20px;
    }
    .some-fact{
        margin-top: 30px;
        text-align: center;
    }
}
/* Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav,  .featured, .more-featured{
        flex-direction: column;
    }
    .featured-img img{
        width: 90%;
    }
    .featured-img{
        gap: 10px;
    }
    .featured-btn img{
        width: 100%;
    }
    .more-featured{
        gap: 20px;
    }
    .featured-btn button{
        position: static;
    }
    .some-fact{
        margin-top: 50px;
        text-align: center;
    }
}