/* Shared styles*/ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    cursor: pointer;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px;
    font-weight: 600;
    border: none;
    font-size: 20px;
}


/* Header related style */
header{
    padding: 50px 220px;   
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 40px;
}
nav li, nav a{
    list-style: none;
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
nav h3{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.banner{
    text-align: center;
}
.banner-tittle{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner > img{
    width: 100%;
    margin-top: 50px;
}

/* Media Queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        gap: 20px;
    }
}
/* Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}